<!DOCTYPE html>
<html lang="en">
 <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.colorpickersliders.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />      
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_spc.png') }}" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
   <meta name="theme-color" content="#000000" />
   <meta autor="José Eduardo Risco Sánchez-Cortés" />
   <title>Home</title> 
</head>

<body>
   <img class="background-image fixed-bottom" src="{{ url_for('static', filename='images/logo_background.svg') }}"
      alt="Home">
   {% block header %}{% endblock %}
   {% block content %}{% endblock %}
   {% block footer %}{% endblock %}
   <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bs-custom-file-input.min.js') }}"></script>     
   <script src="{{ url_for('static', filename='js/tinycolor-min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.colorpickersliders.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/spc.js') }}"></script>
</body>
</html>