{% extends "base.html" %}
{% block header %}
{% include "header.html" %}
{% endblock %}
<head>
   <title>Convert file</title>
</head>

<body>
   {% block content %}
   <div class="container">
      <div class="row align-items-start justify-content-center">
         <div class="col-sm-6 my-1">
            <center>
               <h1>Convert File to DXF</h1>
               <br>
            </center>
         </div>
      </div>
   </div>

   <div class="row justify-content-center"><!--Fila-->
      <div class="col-12 d-none d-md-block"><!--12 es el maximo, -->
         <!-- Hide on screens smaller than md -->
         <div class="card border-secondary form-card"><!-- crear el card-->
            <div class="card-header bg-light"><!--cabecera-->
               <div class="row align-items-center"><!--Fila-->
                  <div class="col-md-2">
                     <h5 class="mb-0 font-weight-bold text-center text-primary">Point Code</h5>
                  </div>
                  <div class="col-md-4">
                     <h5 class="mb-0 font-weight-bold text-center text-primary">CAD Layer</h5>
                  </div>
                  <div class="col-md-2">
                     <h5 class="mb-0 font-weight-bold text-center text-primary">Layer Color</h5>
                  </div>
                  <div class="col-md-4">
                     <h5 class="mb-0 font-weight-bold text-center text-primary">Symbol</h5>
                  </div>
               </div>
            </div>
            <div class="card-body">
               <form action="" method="post" novalidate autocomplete="off"><!--formulario-->
                  {% for i in range(capas|length): -%}
                  <div class="form-row horizontal-form">
                     <div class="col-md-2">
                        <input type="text" name="code-{{ i }}"
                           class="form-control-plaintext font-weight-bold text-center" readonly
                           value="{{ capas[i]['code'] }}">
                     </div>
                     <div class="col-md-4">
                        <input type="text" name="layer-{{ i }}" class="form-control form-control-sm"
                           placeholder="Default Layer 0" value="{{ capas[i]['layer'] if capas[i]['layer'] }}">
                     </div>
                     <div class="col-md-2">
                        <input type="text" name="color-{{ i }}" class="form-control form-control-sm color-picker" value="rgb{{ capas[i]['color'] }}">
                     </div>
                     <div class="col-md-4">
                        {% if symbols %}
                        <select class="custom-select custom-select-sm" name="symbol-{{ i }}">
                           {% for s in symbols %}
                           <option {{ 'selected' if capas[i]['symbol'] == s }} value="{{ s }}">{{ s }}</option>
                           {% endfor -%}
                           {% if capas[i]['symbol'] not in symbols %}
                           <option selected value="">No symbol found</option>
                           {% else %}
                           <option  value="">No symbol found</option>
                           {% endif %}
                        </select>
                        {% else %}
                        <input type="text" name="symbol-{{ i }}" class="form-control form-control-sm"
                           value="No symbol found" readonly>
                        {% endif %}
                     </div>
                  </div>
                  {% endfor -%}
                  <div class="form-row d-flex align-items-center mt-3">
                     <label for="cad-versions" class="col-md-2 col-form-label font-weight-bold text-center">CAD version</label>
                     <div class="col-md-4">
                        <select class="custom-select custom-select-sm" name="cadversion" id="cad-versions">
                           {% for version, internal_version in cad_versions.items() %}
                           <option value="{{ internal_version }}">{{ version }}</option>
                           {% endfor -%} 
                        </select>
                     </div>
                  </div>
                  <center>
                     <br>
                     <button type="submit" class="btn btn-success">Convert</button>
                  </center>
               </form>
               <br>
            </div>
         </div>
         <div class="d-inline-flex p-2">
            <div class="col-sm-8 my-1">
               {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
               {% for message in messages %}
               {% if "Error" not in message[1]: %}
               <div class="alert alert-info">
                  <strong></strong> {{ message[1] }}
               </div>
               {% endif %}
               {% if "Error" in message[1]: %}
               <div class="alert alert-danger">
                  <strong></strong> {{ message[1] }}
               </div>
               {% endif %}
               {% endfor %}
               {% endif %}
               {% endwith %}
               {% if errores %}
               <div class="alert alert-info" role="alert">
                  Error in lines: {{errores}}
               </div>
               <br>
               <center>
                  <a href="{{ url_for('upload_file') }}" class="btn btn-info" role="button">Reload File</a>
               </center>
               {% endif %}
            </div>
         </div>
      </div>
   </div>

   {% endblock %}

   <body>

   {% block footer %}
   {% include "footer.html" %}
   {% endblock %} 