{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
   <div class="container">
      <div class="row mb-3">
         <div class="col-12">
            <div class="row justify-content-center">
                  <h1 class="display-4 d-none d-md-block text-center">Convert File to DXF</h1>
                  <h2 class="d-md-none text-center">Convert File to DXF</h2>
            </div>
         </div>
      </div>

      {% if errors %}
      <div class="row justify-content-center">
         <div class="col-12">
            <div class="alert alert-danger" role="alert">
               {% for error in errors %}
               {% for i in range(error|length): %}
               <h5 class="alert-heading font-weight-bold"><i class="fas fa-times"></i>&nbsp;&nbsp;Error:</h5>
               <h5>{{ error[i]['message'] }}</h5>
               {% if error[i]['errors'] %}
               <hr>
               <p>Error in lines:</p>
               {% for err in error[i]['errors'] %}
               <p class="mb-0"><strong>{{ err[0] }}</strong> - {{ err[1] }}</p>
               {% endfor %}
               {% endif %}
               <hr>
               {% endfor %}
               {% endfor %}
               <p class="font-weight-bold mb-2">Please, check the files and upload them again.</p>
               <div class="text-center">
                  <a href="{{ url_for('upload_file') }}" class="btn btn-info mt-2" role="button">Reload Files</a>
               </div>
            </div>
         </div>
      </div>
      {% else %}

      {% if duplicate_color_errors or cad_color_errors: %}
      <div class="row justify-content-center">
         <div class="col-12">
            <div class="alert alert-danger mb-4" role="alert">
               {% if duplicate_color_errors: %}
               <h5 class="alert-heading font-weight-bold"><i class="fas fa-times"></i>&nbsp;&nbsp;Error:</h5>
               <h5>{{ duplicate_color_errors['message'] }}</h5>
               <hr>
               {% for error in duplicate_color_errors['errors'] %}
               <p class="mb-0">{{ error }}</p>
               {% endfor %}
               <hr>
               {% endif %}
               {% if cad_color_errors: %}
               <h5 class="alert-heading font-weight-bold"><i class="fas fa-times"></i>&nbsp;&nbsp;Error:</h5>
               <h5>{{ cad_color_errors['message'] }}</h5>
               <hr>
               {% for error in cad_color_errors['errors'] %}
               <p class="mb-0">{{ error }}</p>
               {% endfor %}
               <hr>
               {% endif %}
               <p class="font-weight-bold mb-2">Please, correct them in the table below.</p>
            </div>
         </div>
      </div>
      {% endif %}

      <div class="row justify-content-center">
         <div class="col-12 d-none d-md-block"> <!-- Hide on screens smaller than md -->
            <div class="card border-secondary form-card">
               <div class="card-header bg-light">
                  <div class="row align-items-center">
                     <div class="col-md-2">
                        <h5 class="mb-0 font-weight-bold text-center text-primary">Point Code</h5>
                     </div>
                     <div class="col-md-4">
                        <h5 class="mb-0 font-weight-bold text-center text-primary">CAD Layer</h5>
                     </div>
                     <div class="col-md-2">
                        <h5 class="mb-0 font-weight-bold text-center text-primary">Layer Color</h5>
                     </div>
                     <div class="col-md-4">
                        <h5 class="mb-0 font-weight-bold text-center text-primary">Symbol</h5>
                     </div>
                  </div>
               </div>
               <div class="card-body">
                  <form action="" method="post" role="form" novalidate autocomplete="off">
                     {% for i in range(layers|length): -%}
                     <div class="form-row horizontal-form">
                        <div class="col-md-2">
                           <input type="text" name="code-{{ i }}" class="form-control-plaintext font-weight-bold text-center" readonly value="{{ layers[i]['code'] }}">
                        </div>
                        <div class="col-md-4">
                           <input type="text" name="layer-{{ i }}" class="form-control form-control-sm" placeholder="Default Layer 0" pattern="[^\s]+" value="{{ layers[i]['layer'] if layers[i]['layer'] }}">
                        </div>
                        <div class="col-md-2">
                           <input type="text" name="color-{{ i }}" class="form-control form-control-sm color-picker" value="rgb{{ layers[i]['color'] }}">
                        </div>
                        <div class="col-md-4">
                           {% if symbols %}
                           <select class="custom-select custom-select-sm" name="symbol-{{ i }}">
                              {% for s in symbols %}
                              <option {{ 'selected' if layers[i]['symbol'] == s }} value="{{ s }}">{{ s }}</option>
                              {% endfor -%}
                              {% if layers[i]['symbol'] not in symbols %}
                              <option selected value="No symbol found">No symbol found</option>
                              {% else %}
                              <option value="No symbol found">No symbol found</option>
                              {% endif %}
                           </select>
                           {% else %}
                              <input type="text" name="symbol-{{ i }}" class="form-control form-control-sm" value="No symbol found" readonly>
                           {% endif %}
                        </div>
                     </div>
                     {% endfor -%}
                     <hr>
                     <div class="form-row d-flex align-items-center mt-3">
                        <label for="dxf_filename" class="col-md-2 col-form-label font-weight-bold text-center">File name</label>
                        <div class="col-md-4">
                           <input type="text" name="dxf_filename" id ="dxf_filename1" class="form-control form-control-sm" placeholder="Default: {{ session['topographical_file'] }}.dxf" value="{{ dxf_filename if errors or duplicate_color_errors or cad_color_errors }}">
                        </div>
                        <label for="cad-versions" class="col-md-2 col-form-label font-weight-bold text-center">CAD version</label>
                        <div class="col-md-4">
                           <select class="custom-select custom-select-sm" name="cadversion" id="cad-versions">
                              {% for version, internal_version in cad_versions.items() %}
                              {% if (errors or duplicate_color_errors or cad_color_errors) and (internal_version == cad_version) %}
                              <option value="{{ internal_version }}" selected>{{ version }}</option>
                              {% else %}
                              <option value="{{ internal_version }}">{{ version }}</option>
                              {% endif %}
                              {% endfor -%}
                           </select>
                        </div>
                     </div>
                     <div class="form-row d-flex align-items-center justify-content-center mt-3">
                        <div class="col-md-6 px-3">
                           <button type="submit" class="btn btn-success btn-block" onclick="modal();"><i class="fas fa-magic"></i> Convert</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>


      </div>
      {% endif %}
   </div>


{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
