{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12">
                <div class="row justify-content-center">
                    <h1 class="display-4 d-none d-md-block text-center">Download File</h1>
                    <h2 class="d-md-none text-center">Download File</h2>
                </div>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for message in messages %}
                {% if "Error" in message[1]: %}
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="alert alert-dismissible alert-danger fade show" role="alert" id="{{ 'alert' if 'converted_files' in session and session['converted_files']|length > 0 }}">
                            <i class="fas fa-times"></i>&nbsp;&nbsp;<strong>Error:</strong> {{ message[1].strip('Error:') }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                {% if 'converted_files' in session and session['converted_files']|length == 0: %}
                <div class="text-center">
                    <a href="{{ url_for('upload_file') }}" class="btn btn-info mt-2" role="button">Reload Files</a>
                </div>
                {% endif %}
                {% else %}
                <div class="row justify-content-center">
                   <div class="col-md-6">
                      <div class="alert alert-dismissible alert-success fade show" role="alert" id="alert">
                         <i class="fas fa-check-circle"></i>&nbsp;&nbsp;<strong>Success!</strong> {{ message[1] }}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                         </button>
                      </div>
                   </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}

            </div>
        </div>
        <div class="row justify-content-center mb-3">
            {% if 'converted_files' in session and session['converted_files']|length > 0: %}
            <div class="col-md-6">
                <div class="card border-secondary converted-files">
                    <div class="card-header text-white bg-secondary">
                        <h4 class="font-weight-bold mb-0">List of converted files</h4>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row justify-content-center text-center py-3 options">
                            <a class="btn btn-success mr-3" href="{{ url_for('download_file') }}" role="button"><i class="fas fa-download"></i> Download all</a>
                            <a class="btn btn-primary" href="{{ url_for('upload_file') }}" role="button"><i class="fas fa-plus-square"></i> One more</a>
                        </div>

                        <form method="POST" enctype="multipart/form-data">
                            {% for i in range(0, session['converted_files']|length): %}
                            <div class="alert alert-secondary border-secondary mb-1 py-2 converted-item" data-clickable="true" data-href="{{ url_for('download_file', fileindex=i) }}">
                                <div class="row align-items-center justify-content-between mx-1">
                                    <p class="text-truncate mb-0"><strong><i class="fas fa-download"></i> &nbsp;{{ session['converted_files'][i]['file'] }}</strong></p>
                                </div>
                            </div>
                            {% endfor %}
                        </form>

                    </div>
                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}