</html>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
</head>
<body>
<div>SurveyingPointCode :
    <ul class="user-info">
        
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}

    </ul>
</div>
{% block content %}{% endblock %}
</body>
</html>