{% extends "base.html" %}
<head>
   <title>Login</title>
</head>
<body>
   {% block content %}
   <div class="container">
      <br>
      <div class="row align-items-center justify-content-center">
         <div class="col-sm-3 my-1">
            <form  action="" method="post" role="form" novalidate>
               {{ form.hidden_tag()  }}
               <div class="form-group">
                  {{ form.email.label }}
                  <input type="email" class="form-control" id="email" name="email" placeholder="Enter email." required>
                  {% for error in form.email.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                  <br>
                  {{ form.password.label }}
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password." required>
                  {% for error in form.password.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                  <div class="checkbox">
                     <label><input type="checkbox"> Remember me</label>
                  </div>
                  <br>													   
                  <center>
                     <button type="submit" class="btn btn-success">Submit</button>
                  </center>
            
            </div>
         </form>
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for message in messages %}
            {% if "Error" not in message[1]: %}
            <div class="alert alert-info">
               <strong></strong> {{ message[1] }}
            </div>
            {% endif %}
            {% if "Error" in message[1]: %}
            <div class="alert alert-danger">
               <strong></strong> {{ message[1] }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
         </div>
         <br>
      </div>
   </div>
   <div>
      <center>
         Not Registered ? <a href="{{ url_for('register') }}">Create an account</a>
   </div>
   </center>
   <p class="mt-5 mb-3 text-muted text-center">SurveyingPointCode by J.Eduardo Risco &copy; 2018-2019</p>
   {% endblock %}
</body>