alembic==1.0.7
astroid==2.1.0
autopep8==1.4.3
Click==7.0
colorama==0.4.1
ezdxf==0.8.9
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.4.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
Mako==1.0.7
MarkupSafe==1.1.0
mccabe==0.6.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
pycodestyle==2.5.0
pylint==2.2.2
pyparsing==2.3.1
python-dateutil==2.8.0
python-dotenv==0.10.1
python-editor==1.0.4
six==1.12.0
SQLAlchemy==1.2.18
virtualenv==16.3.0
Werkzeug==0.14.1
wrapt==1.11.1
WTForms==2.2.1
