/* GENERAL CSS */
html {
  min-height: 100vh;
  max-width: 100vw;
}

body {
  background: #f1f1f1;
  padding-top: 75px;
  padding-bottom: 75px;
}

.background-image {
  height: 90vh;
  max-width: 90vw;
  opacity : .1;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  left: 0;
  bottom: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  z-index: -1000;
}

/* HEADER AND FOOTER CSS */
header, footer {
  background-color: #aebbbe;
}

footer {
  line-height: normal;
}

nav > a {
  color: #000000;
}

#welcome_user {
  pointer-events: none;
}

#menu {
  background-color: #cadfe2;
  border-color: #b1cccf;
}

#menu .dropdown-divider {
  border-color: #b1cccf;
}

#menu .dropdown-item:hover {
  background-color: #a6c8ce;
}

/* CARDS */
/* LOGIN AND REGISTER CSS */
#login_card,
#upload_card {
  border: none;
  border-radius: 1rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 0px 3px 4px rgba(0,68,86,0.83);
  box-shadow: 0px 0px 3px 4px rgba(0,68,86,0.83);
}

#login_card .card-title {
  border-bottom: 1px solid #c4c4c4;
}

#login_left_logo {
  background: #aebbbe;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#login_top_logo {
  background: #aebbbe;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* FORMS CSS && LIST OF CONVERTED FILES */
.form-card .card-header,
.converted-files .card-header {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 1020;
}

.converted-files .card-body .options {
  position: -webkit-sticky;
  position: sticky;
  top: 103px;
  z-index: 1010;
  background-color: #ffffff;
}

.alert.converted-item{
  cursor: pointer;
}

.alert.converted-item:hover {
  background-color: #d1cfcd !important;
}

/* SPINNER - LOADING */
.load-spinner .modal-dialog {
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(33% - 24px);
}

.load-spinner h2 {
  color: #E95420;
  text-shadow: -1px 0 #000000,
    0 1px #000000,
    1px 0 #000000,
    0 -1px #000000;
}

.load-spinner .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}

.multi-spinner-container {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 30px auto;
  overflow: hidden;
}

.multi-spinner {
  position: absolute;
  width: calc(100% - 9.9px);
  height: calc(100% - 9.9px);
  border: 7px solid transparent;
  border-top-color: #E95420;
  border-radius: 50%;
  -webkit-animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
  animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* COLOR-PICKER-SLIDERS */
.popover-content .cp-container.cp-container-sm {
  width: 100px;
}

.cp-container .cp-swatches ul {
  margin: -3px -3px 0 0;
}

.cp-container .cp-swatches li {
  margin: 3px 3px 0 0;
}

.cp-swatches button {
  margin: 3px 3px 0 0;
}

.cp-container .cp-swatch {
  width: 18px;
  height: 18px;
}

@media (max-width: 767.98px) {
  .cp-popover-container .popover {
    max-width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .cp-popover-container .popover {
    max-width: 40%;
  }
}

@media (min-width: 992px) {
  .cp-popover-container .popover {
    max-width: 380px;
  }
}